$primaryColor: #0e8be1;

.wheatherDisplay {
  height: 90px;
  width: 100%;
  display: flex;
  min-width: 284px;
  margin-bottom: 40px;
  .city {
    color: $primaryColor;
  }
  .tempWeathercontainer {
    display: flex;
    align-items: center;
  }
  .temperature {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
  }
  .weather1 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 10px;
  }
}
