@import "../style/gobalStylecolor.scss";

.containerWeather {
  height: 100%;
  width: 100%;
  .weather {
    background-color: $primary;
    height: 300px;
    display: flex;
    width: 70%;
    min-width: 472px;
    margin: auto;
    border-radius: 10px;

    // position: absolute;
    // transform: translate(-50%, -50%);
    // top: 50%;
    // left: 50%;

    .weather-daySelect {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .weather-display-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // width: 25%;
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  .weather {
    min-width: 100%;
  }
  .weather-daySelect {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    min-width: 100% !important;
    height: 60px;
  }
}
