@import "../style/gobalStylecolor.scss";

.daySelect {
  height: 200px;
  //   align-self: flex-start;
  overflow-y: scroll;
  padding-left: 0;
  cursor: pointer;
  background-color: rgba($container, 0.3);
  border-radius: 5px;

  .dayIsSelect {
    background-color: $secondary;
    color: white;
  }
  li {
    height: 40px;
    line-height: 40px;
    list-style: none;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .daySelect {
    display: flex;
    margin: 0;
    text-align: center;
    li {
      padding-right: 20px;
      padding-left: 20px;
      display: table;
      width: 60px;
      height: 100%;

      // text-align: center;
      // height: 80px;
      // line-height: 80px;
    }
  }
}
