@import "../style/gobalStylecolor.scss";

.searchBar {
  margin: 70px 0;
  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    input,
    .buttonSearch {
      height: 35px;
      border-radius: 15px;
      border: 1px solid $border;
      width: 200px;
    }
    input:focus,
    .buttonSearch:focus {
      outline: none;
    }
    .buttonSearch {
      background-color: $primary;
      color: white;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .resultCity {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 10;
    background-color: $secondary;
    // border: 2px solid $border;
    border-radius: 5px;
    .resultCity::-webkit-scrollbar {
      width: 1px;
      background-color: $secondary;
    }
    .sectionResult {
      height: 30px;
      border-bottom: 2px solid $border;
      cursor: pointer;

      p {
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }
}
