.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Assurez-vous que la vidéo est en arrière-plan */
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Assurez-vous que le contenu est au-dessus de la vidéo */
  /* Ajoutez d'autres styles au besoin */
}
